
**/__pycache__/
*.pyc

*.exe
*.out
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

/build/
/bin/
/obj/
/out/
/x64/
/.vs/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake

Makefile

.vs/
.idea/
*.sln
*.vcxproj*
*.cbp

*.swp
*.swo
*.bak
*.tmp
*.log
